<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
    

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/Lonk.jpg">
        <p>This application was created by {{name}}, using google maps API and ol!</p>
    </div>
    {{>footer}}  
</body>


</html>