 <!DOCTYPE html>

 <html>

<head>
    <title>Maps</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>
<style>
    #map {
  height: 100%;
  width: 100%;
}
</style>
<body>
    <div class="main-content">

        <p>Add a widget using JqueryUI</p> 
    </div>
    <div id="map"></div>

    <script src="src/utils/InitMap.JS"></script> 
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgmuaIQtGKYfaBxzp_PPffaeZ1USqujQw&callback=initMap&libraries=drawing&v=weekly" async>
    </script>

    {{>footer}}     
</body>


 </html>