<!DOCTYPE html>
<html>

<head>
    <title>Maps</title>
    <link rel="stylesheet" href="public/css/styles.css">

</head>
<style>
    #map {
  height: 750px;
  width: 100%;
}
</style>
<body>
    <div id="map"></div>

    <script src="/js/InitMap.js"></script> 
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgmuaIQtGKYfaBxzp_PPffaeZ1USqujQw&callback=initMap" async defer>
    </script>

       
</body>
{{>footer}}  

 </html>