<footer>
<div>

    <a href="/">Map</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <a href="/widget-test">Widget</a>
</div>
<div>
    <p>Created by {{name}}</p>
</div>
</footer>

